* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}

.row {
  display: inline-flex;
  margin-top: -32px;
  margin-left: -50px;
}

.row:nth-child(even) {
  margin-left: 2px;
}

.hexagon {
  width: 100px;
  height: 110px;
  margin: 2px;
  background-color: #111;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  animation: animation 4s linear infinite;
  transition: 1s;
}

.hexagon:hover {
  background-color: rgb(62, 70, 62);
  transition: 0s;
}

@keyframes animation {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.hexagon::after {
  content: "";
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  background-color: #111;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.hexagon::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.03);
  z-index: 2;
}

.container {
  position: relative;
}

.content-div {
  position: absolute;
  top: 5%;
  left: 5%;
  /* transform: translate(-50%, -50%); */
  background-color: transparent; /* You can change the background color */

  z-index: 2; /* Ensure content-div appears above hexagons */
}
